<a href="https://colab.research.google.com/github/paulaassisb/data-science/blob/main/paula_assis_manipulacao_mercado_livre_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Manipulação da dados

In [48]:
import pandas as pd
import numpy as np
import re

In [26]:
url = 'https://raw.githubusercontent.com/fernandoawari/calculadora-aluguel-turma-set-20/main/1-web-scraping/dados_aluguel_ml_sao_paulo.csv'
df = pd.read_csv(url, thousands='.')

In [27]:
df.head()

    zona  ... aluguel
0  norte  ...    1150
1  norte  ...    1480
2  norte  ...     800
3  norte  ...    1180
4  norte  ...    1300

[5 rows x 4 columns]

In [31]:
area_quartos_subset = ['1,360 m² totais',
                       '2 quartos',
                       '53 m² construídos2 quartos',
                        '280 m² construídos',
                        '2,600 m² construídos',
                       ]

In [35]:
def extrair_area(entrada):
  if ' m²' in entrada:
    area = entrada.split(' m²')[0]
    area = area.replace(',', '')
  else:
    area = np.nan
  return area

In [36]:
for aq in area_quartos_subset:
  print(extrair_area(aq))

1360
nan
53
280
2600

In [37]:
df['area']=df['area_quartos'].apply(extrair_area).astype(float)

In [39]:
df.head()

    zona                area_quartos  ... aluguel  area
0  norte  50 m² construídos2 quartos  ...    1150  50.0
1  norte  76 m² construídos3 quartos  ...    1480  76.0
2  norte   30 m² construídos1 quarto  ...     800  30.0
3  norte  80 m² construídos3 quartos  ...    1180  80.0
4  norte  70 m² construídos2 quartos  ...    1300  70.0

[5 rows x 5 columns]

In [44]:
area_quartos_subset = ['1,360 m² totais',
                       '2 quartos',
                       '1 quarto',
                       '53 m² construídos2 quartos',
                        '280 m² construídos',
                        '2,600 m² construídos',
                       ]

In [45]:
entrada='2 quartos'

In [49]:
re.findall('(.?) quarto', entrada)[0]

'2'

In [54]:
def extrair_quartos(entrada):
  if 'quarto' in entrada:
      n_quartos = re.findall('(\d*) quarto', entrada)[0]
  else:
      n_quartos = np.nan
  return n_quartos

In [55]:
for aq in area_quartos_subset:
  print(extrair_quartos(aq))

nan
2
1
2
nan
nan

In [56]:
df['quartos'] = df['area_quartos'].apply(extrair_quartos).astype(float)

In [57]:
df = df.drop('area_quartos', axis=1)

In [61]:
cols = ['zona', 'enderecos_lista', 'area', 'quartos', 'aluguel']

In [63]:
df=df[cols]

In [64]:
df.head()

    zona                                    enderecos_lista  ...  quartos  aluguel
0  norte  Praça Rafael Mendes De Carvalho, Jardim Paraís...  ...      2.0     1150
1  norte  Rua Almirante Noronha, Jardim São Paulo, São P...  ...      3.0     1480
2  norte  Rua Cássio De Almeida, Vila Guilherme, São Pau...  ...      1.0      800
3  norte  Rua Cabo José Da Silva, Parque Novo Mundo, São...  ...      3.0     1180
4  norte  Parque Domingos Luís, Jardim São Paulo, São Pa...  ...      2.0     1300

[5 rows x 5 columns]

In [65]:
df.median()

area         67.0
quartos       2.0
aluguel    2200.0
dtype: float64

In [66]:
df.fillna(df.median())

       zona  ... aluguel
0     norte  ...    1150
1     norte  ...    1480
2     norte  ...     800
3     norte  ...    1180
4     norte  ...    1300
...     ...  ...     ...
1339  oeste  ...   13280
1340  oeste  ...   15000
1341  oeste  ...    2390
1342  oeste  ...    3600
1343  oeste  ...    4000

[1344 rows x 5 columns]